@import "tailwindcss";

:root {
  --primary: #7C3062;
  --primary-hover: #866194;
  --primary-light: #A788B4;
  --neutral: #E4E4E4;
}

@theme {
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-light: var(--primary-light);
  --color-neutral: var(--netral);

  --font-sans: var(--font-prompt);
  --font-mono: var(--font-manrope);
}
